.fontEnhancement {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.image {
  height: 15cm;
  width: 15cm;
}

.backgroundSec {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 241 / var(--tw-bg-opacity));
  margin-top: -10rem;
}
